- @posts.each do |post|
  .row.margin-top-10
    .col-lg-10.offset-md-1.blog-short
      %h1= post.title
      .row
        .col-lg-3
          = image_tag post.image, class: 'img-fluid rounded float-left image-200', alt: 'post_image'
        .col-lg-9
          %article
            %p
              = truncate(post.body, length: 150) #TODO: It can be decorated by drapper
      = link_to t('read_more'), post, class: 'btn btn-success pull-right margin-bottom-10'
.row.justify-content-md-center.margin-top-10
  = paginate @posts, theme: 'twitter-bootstrap-4'
