.row.margin-top-10
  .col-lg-10.offset-md-1
    .row
      .col-lg-10.offset-md-1
        %h1= @post.title
    .row
      .col-lg-10.offset-md-1
        = image_tag @post.image, class: 'img-fluid rounded margin-bottom-10', alt: 'post_image'
    .row
      .col-lg-10.offset-md-1
        %article
          %p
            = @post.body
    .row
      .col-lg-10.offset-md-1
        %footer.blockquote-footer.margin-bottom-10= t('viewed', count: @post.views)
        = link_to t('back'), request.referer || root_path, class: 'btn btn-success margin-bottom-10'
.row.margin-top-10
  .col-lg-10.offset-md-1
    .row
      .col-lg-10.offset-md-1.blog-popular
        %h1= t('populap_posts')
      .row
        .col-lg-10.offset-md-1
          .row
            .col-lg-6
              = image_tag popular_posts_first.image, class: 'img-fluid rounded margin-bottom-10', alt: 'post_image'
            .col-lg-6
              = image_tag popular_posts_last.image, class: 'img-fluid rounded margin-bottom-10', alt: 'post_image'
          .row
            .col-lg-6
              %h4= popular_posts_first.title
            .col-lg-6
              %h4= popular_posts_last.title
          .row
            .col-lg-6
              %article
                %p
                  = truncate(popular_posts_first.body, length: 150) #TODO: It can be decorated by drapper
            .col-lg-6
              %article
                %p
                  = truncate(popular_posts_last.body, length: 150) #TODO: It can be decorated by drapper
          .row
            .col-lg-6
              = link_to t('read_more'), popular_posts_first, class: 'btn btn-success margin-bottom-10'
            .col-lg-6
              = link_to t('read_more'), popular_posts_last, class: 'btn btn-success margin-bottom-10'
